<form action="/edit_this_product" id="editThisProductForm" role="form" class="form-horizontal" method="POST">

  <div class="form-group">
    <label class="control-label col-lg-3" for="productName">Name</label>
    <div class="col-lg-7">
      <input type="text" name="product[name]" class="form-control" placeholder="Product name" id="productName" value="<%= @product.name %>" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3">Product category</label>
    <div class="col-lg-7">
      <select name="product[category_id]" class="form-control" tabindex="8" required>
        <option value="">Select product category</option>
        <% @categories.each do |category| %>
          <% category_id = @product.product_category.category_id rescue "" %>
          <% if category_id.to_i == category.category_id %>
            <option selected="true" value="<%= category.category_id %>"><%= category.name %></option>
          <% else %>
            <option value="<%= category.category_id %>"><%= category.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="partNumber">Part Number</label>
    <div class="col-lg-7">
      <input type="text" name="product[part_number]" class="form-control" placeholder="Part Number" id="partNumber" value="<%= @product.part_number %>"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="productLabel">Product Label</label>
    <div class="col-lg-7">
      <input type="text" name="product[product_label]" class="form-control" placeholder="Product label" id="productLabel" value="<%= @product.label %>"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="startingInventory">Starting Stock</label>
    <div class="col-lg-7">
      <input type="text" name="product[starting_inventory]" class="form-control" placeholder="Starting stock" value="<%= @product.starting_inventory %>" id="startingInventory" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="minimumRequired">Minimum Required</label>
    <div class="col-lg-7">
      <input type="text" name="product[minimum_required]" class="form-control" placeholder="Minimum required" value="<%= @product.minimum_required %>" id="minimumRequired" required/>
    </div>
  </div>

  <input type="hidden" name="product_id" value="<%= @product.product_id %>"/>
  <div class="form-group modal-footer">
    <label class="control-label col-lg-3" for="">&nbsp;</label>
    <div class="col-lg-7">
      <button id="updateProductButton" class="btn btn-primary " type="submit">Update Product</button>
    </div>
  </div>


</form>


<script type="text/javascript">
    window.onload = function () {
        jQuery('.products-menu-nav-header').removeClass('collapsed');
        jQuery('.products-menu').addClass('in');
        jQuery('.edit_products').addClass('active');

        $("#editThisProductForm").submit(function (e) {
            $("#updateProductButton").attr("disabled", true);
            $("#updateProductButton").html("Please wait......");
            return true;
        });
    }
</script>