<div class="panel panel-default">
  <a href="#page-stats" class="panel-heading" data-toggle="collapse">Quick stats</a>
  <div id="page-stats" class="panel-collapse panel-body collapse in">

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="knob-container">
          <input onclick="showDebtorsList()" class="knob" data-width="200" data-min="0" data-max="<%= @total_products * 365 %>" data-displayPrevious="true" value="<%= @total_ever_un_paid_debt %>" data-fgColor="#92A3C2" data-readOnly=true;/>
          <h3 class="text-muted text-center">Debtors</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="knob-container">
          <input onclick="showDamagesList()" class="knob" data-width="200" data-min="0" data-max="<%= @total_products * 365 %>" data-displayPrevious="true" value="<%= @damages_ever %>" data-fgColor="#92A3C2" data-readOnly=true;/>
          <h3 class="text-muted text-center">Damages</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="knob-container">
          <input onclick="showComplementaryList()" class="knob" data-width="200" data-min="0" data-max="<%= @total_products * 365 %>" data-displayPrevious="true" value="<%= @complementary_ever %>" data-fgColor="#92A3C2" data-readOnly=true;/>
          <h3 class="text-muted text-center">Complementary</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="knob-container">
          <input onclick="showUsersList()" class="knob" data-width="200" data-min="0" data-max="20" data-displayPrevious="true" value="<%= @user_accounts %>" data-fgColor="#92A3C2" data-readOnly=true;/>
          <h3 class="text-muted text-center">User accounts</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading no-collapse">Total sales this month</div>
      <div id="container"></div>
    </div>
  </div>
</div>


<style type="text/css">
  .knob {
    cursor: pointer;

  }
</style>


<script type="text/javascript">
    var days = JSON.parse('<%= @xaxis.to_json.html_safe %>');
    var sales = JSON.parse('<%= @total_sales.to_json.html_safe %>');
    var series_data = [];
    var this_month = '<%= Date.today.strftime("%b") %>';

    for (var i = 0; i <= days.length - 1; i++) {
        series_data.push([new Date(days[i]).getTime(), sales[i]])
    }

    $(document).ready(function () {
        var title = {
            text: 'Total sales of ' + this_month
        };
        var subtitle = {
            text: ''
        };
        var xAxis = {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%d',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        };
        var yAxis = {
            title: {
                text: 'Total sales (MWK)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        };
        var tooltip = {
            valueSuffix: ' MWK'
        }
        var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        };
        var series = [{
            showInLegend: false,
            name: 'Sales',
            data: series_data
        }
        ];

        var credits = {
            enabled: false
        }

        var json = {};
        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.tooltip = tooltip;
        json.legend = legend;
        json.series = series;
        json.credits = credits;

        $('#container').highcharts(json);
    });

    function showDebtorsList() {
        window.location = "/debtors"
    }

    function showDamagesList() {
        window.location = "/damaged_stock"
    }

    function showComplementaryList() {
        window.location = "/complementary_stock"
    }

    function showUsersList() {
        window.location = "/view_users"
    }

</script>