<table class="table">
  <thead>
  <tr>
    <th> #</th>
    <th>Name</th>
    <th>Category</th>
    <th>Minimum required</th>
    <th>Current stock</th>


  </tr>
  </thead>
  <tbody>
  <% count = 0 %>
  <% @products.each do |product| %>
    <tr>
      <% count = count + 1 %>
      <td><%= count %></td>
      <td><%= product.name  %></td>
      <td><%= product.category_name  %></td>
      <td><%= product.minimum_required %></td>
      <td><%= product.current_stock %></td>
    </tr>
  <% end %>
  </tbody>
</table>
