<div class="panel panel-default">
  <div class="panel-body" style="background-color: lightyellow">
    <form action="#" role="form" class="form-horizontal">
      <table style="width: 50%;" class="center-block">
        <tr>
          <th>Date &nbsp;</th>
          <th>
            <input type="text" value="<%= @today %>" class="form-control datepicker" placeholder="Stock date" id="date"/>
          </th>
          <th>&nbsp;</th>
          <th>
            <input onclick="gotoStockcardDate()" class="btn btn-primary" value="Update stock card"/>
          </th>
        </tr>
      </table>
    </form>
  </div>
</div>

<% if @stock_cards.length > 1 %>
  <div class="panel panel-default">
    <p class="panel-heading">Available stock cards</p>
    <div class="panel-body">
      <div class="row" style="text-align: center;">
        <% @stock_cards.each do |stock_card| %>
          <%
            if stock_card.stock_id == @last_stock_id.to_i
              class_name = "btn-success disabled"
            else
              class_name = "btn-default"
            end
          %>
          <div class="pull-left col-sm-2 col-md-2">
            <p>
              <a href="/stock_card?stock_date=<%= params[:stock_date] %>&stock_id=<%= stock_card.stock_id %>" class="btn <%= class_name %>"><%= stock_card.stock_time.strftime("%d-%b-%Y").to_s + " (" + stock_card.created_at.strftime("%H:%M").to_s + ")" %></a>
            </p>
          </div>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
<% else %>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#standard" data-toggle="tab">Standard items</a></li>
  <li><a href="#non-standard" data-toggle="tab">Non standard items</a></li>
  <li><a href="#debtors" data-toggle="tab">Debtors</a></li>
  <li onclick="updateSummary();"><a href="#summary" data-toggle="tab">Summary</a></li>
</ul>

<div class="row">
  <div class="col-md-12">
    <br>
    <div id="myTabContent" class="tab-content">

      <div class="tab-pane active in" id="standard">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Item</th>
            <th>Opening</th>
            <th>Add</th>
            <th>Current stock</th>
            <th>Closing</th>
            <th>Damages</th>
            <th>Complementary</th>
            <th>Difference</th>
            <th>Price</th>
            <th>Total sales</th>
          </tr>
          </thead>
          <tbody>

          <% grand_total = 0 %>
          <% @standard_products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <%
                current_stock = product.current_stock(params[:stock_date], @last_stock_id)
                current_price = product.price(params[:stock_date])
                added_stock = product.stock_card_by_date(params[:stock_date]).added_stock rescue "Update"
                closing_stock = product.closed_stock_by_date(params[:stock_date], @last_stock_id)
                difference = (current_stock.to_i + added_stock.to_i) - closing_stock.to_i
                damaged_stock = product.damaged_stock(@last_stock_id)
                complementary_stock = product.complementary_stock(@last_stock_id)
                if complementary_stock.blank?
                  complementary_stock = "?"
                end
                formatted_amount = ""

                if difference != "-"
                  total_sales = current_price.to_f * (difference - damaged_stock.to_i - complementary_stock.to_i)
                  if product.stock_closed?(@last_stock_id).blank?
                    total_sales = 0
                  end
                  grand_total += total_sales
                  formatted_amount = number_to_currency(total_sales, :unit => "MWK ")
                end

                if @stock_cards.blank?
                  formatted_amount = " - "
                end

                if product.stock_closed?(@last_stock_id).blank?
                  closing_stock = "?"
                end

                if damaged_stock.blank?
                  damaged_stock = "?"
                end
                #product.added_stock_by_date(params[:stock_date])

              %>
              <td><%= product.opening_stock_by_date(params[:stock_date], @last_stock_id) %></td>
              <td class="add-stock" product_id="<%= product.product_id %>">
                <% unless @stock_cards.blank? %>
                  <button onclick="getProductAdditions('<%= product.product_id %>')" type="button" class="btn btn-default btn-circle "><%= product.added_stock_by_date(params[:stock_date]) %></button>
                <% else %>
                  <button onclick="updateStockPopup('<%= product.product_id %>')" class="btn btn-default" href="#">Update</button>

                <% end %>
              </td>
              <td id="current-stock-<%= product.product_id %>"><%= current_stock %></td>

              <td class="close-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat close_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="closeStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat close_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>"><%= closing_stock %></span>
                  </button>
                <% end %>
              </td>

              <td class="damage-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat damage_stock_<%= product.product_id %>">
                    <span id="damage_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="damageStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat damage_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>"><%= damaged_stock %></span>
                  </button>
                <% end %>
              </td>

              <td class="complementary-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat complementary_stock_<%= product.product_id %>">
                    <span id="complementary_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="complementaryStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat complementary_stock_<%= product.product_id %>">
                    <span id="complementary_stock_<%= product.product_id %>"><%= complementary_stock %></span>
                  </button>
                <% end %>
              </td>


              <% unless @stock_cards.blank? %>
                <td class="stock-difference" id="stock-difference-<%= product.product_id %>" product_id="<%= product.product_id %>"><%= difference %></td>
              <% else %>
                <td class="stock-difference" id="stock-difference-<%= product.product_id %>" product_id="<%= product.product_id %>">
                  -
                </td>
              <% end %>

              <td><span class="pull-right"><%= number_to_currency(current_price, :unit => "MWK ") %></span></td>
              <td>
                <span class="pull-right total-sales" id="total-sales-<%= product.product_id %>" product_id="<%= product.product_id %>"><%= formatted_amount %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>GRAND TOTAL</th>
            <% unless @stock_cards.blank? %>
              <th><span class="pull-right grand-total"><%= number_to_currency(grand_total, :unit => "MWK ") %></span>
              </th>
            <% else %>
              <th><span class="pull-right grand-total">-</span></th>
            <% end %>

          </tr>
          </thead>
        </table>

        <% unless @stock_cards.blank? %>
          <!--<button onclick="editStockCard()" class="btn btn-primary"><i class="fa fa-edit"></i> Edit stock card</button>
          <button onclick="newStockCard();" class="btn btn-primary"><i class="fa fa-plus"></i> New stock card</button>-->
        <% end %>
      </div>

      <div class="tab-pane fade" id="non-standard">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Item</th>
            <th>Opening</th>
            <th>Add</th>
            <th>Current stock</th>
            <th>Shots sold</th>
            <th>Damages</th>
            <th>Complementary</th>
            <th>Price</th>
            <th>Total sales</th>
          </tr>
          </thead>
          <tbody>
          <%
            if !grand_total
              grand_total = 0
            end
          %>
          <% @non_standard_products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <%
                current_stock = product.current_stock(params[:stock_date], @last_stock_id)
                current_price = product.price(params[:stock_date])
                #closing_stock = product.closed_stock_by_date(params[:stock_date], @last_stock_id)
                damaged_stock = product.damaged_stock(@last_stock_id)
                complementary_stock = product.complementary_stock(@last_stock_id)
                shots_sold = product.shots_sold?(@last_stock_id)

                if product.stock_closed?(@last_stock_id).blank?
                  #closing_stock = "?"
                end

                total_sales = current_price.to_f * shots_sold.to_i

                grand_total += total_sales
                formatted_amount = number_to_currency(total_sales, :unit => "MWK ")

                if @stock_cards.blank?
                  formatted_amount = " - "
                end

                if damaged_stock.blank?
                  damaged_stock = "?"
                end

                if complementary_stock.blank?
                  complementary_stock = "?"
                end

                if shots_sold.blank?
                  shots_sold = "?"
                end

              %>
              <td><%= product.opening_stock_by_date(params[:stock_date], @last_stock_id) %></td>
              <td class="add-stock" product_id="<%= product.product_id %>">
                <% unless @stock_cards.blank? %>
                  <button onclick="getProductAdditions('<%= product.product_id %>')" type="button" class="btn btn-default btn-circle "><%= product.added_stock_by_date(params[:stock_date]) %></button>
                <% else %>
                  <button onclick="updateStockPopup('<%= product.product_id %>')" class="btn btn-default " href="#">Update</button>

                <% end %>
              </td>
              <td id="current-stock-<%= product.product_id %>"><%= current_stock %></td>

              <td class="close-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat close_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="closeStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat close_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>"><%= shots_sold %></span>
                  </button>
                <% end %>
              </td>

              <td class="damage-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat damage_stock_<%= product.product_id %>">
                    <span id="damage_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="damageStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat damage_stock_<%= product.product_id %>">
                    <span id="close_stock_<%= product.product_id %>"><%= damaged_stock %></span>
                  </button>
                <% end %>
              </td>

              <td class="complementary-stock" product_id="<%= product.product_id %>">
                <% if @stock_cards.blank? %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat complementary_stock_<%= product.product_id %>">
                    <span id="complementary_stock_<%= product.product_id %>">?</span>
                  </button>
                  <button onclick="complementaryStockPopup('<%= product.product_id %>')" class="btn btn-default pull-right" href="#">Update</button>
                <% else %>
                  <button style="color: red;" type="button" class="btn btn-default btn-circle stat complementary_stock_<%= product.product_id %>">
                    <span id="complementary_stock_<%= product.product_id %>"><%= complementary_stock %></span>
                  </button>
                <% end %>
              </td>

              <td><span class="pull-right"><%= number_to_currency(current_price, :unit => "MWK ") %></span></td>
              <td>
                <span class="pull-right total-sales" id="total-sales-<%= product.product_id %>" product_id="<%= product.product_id %>"><%= formatted_amount %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>GRAND TOTAL</th>
            <% unless @stock_cards.blank? %>
              <th><span class="pull-right grand-total"><%= number_to_currency(grand_total, :unit => "MWK ") %></span>
              </th>
            <% else %>
              <th><span class="pull-right grand-total">-</span></th>
            <% end %>

          </tr>
          </thead>
        </table>

        <% unless @stock_cards.blank? %>
          <button onclick="editStockCard()" class="btn btn-primary"><i class="fa fa-edit"></i> Edit stock card</button>
          <!--<button onclick="newStockCard();" class="btn btn-primary"><i class="fa fa-plus"></i> New stock card</button>-->
        <% end %>
      </div>
      <div class="tab-pane in" id="debtors">
        <% if @stock_cards.blank? %>
          <form action="#" role="form" class="form-horizontal" id="debtorsForm">
            <div class="form-group">
              <label class="control-label col-lg-2" for="productName">Name</label>
              <div class="col-lg-5">
                <input type="text" name="debtor[name]" class="form-control" placeholder="Name" id="debtorName" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-2" for="amount">Amount </label>
              <div class="col-lg-5">
                <input type="text" name="debtor[amount]" class="form-control" placeholder="Amount" id="debtorAmount" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-2" for="description">Description </label>
              <div class="col-lg-5">
                <textarea rows="3" class="form-control" id="description"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-2" for="">&nbsp;</label>
              <div class="col-lg-5">
                <button id="debtorSubmit" type="submit" style="display: none;"></button>
                <a href='#' onclick="createDebtor();" role='button'><i class='btn btn-primary' id="createRecord">Create
                  Record</i></a>
              </div>
            </div>
          </form>
        <% end %>

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Amount owed</th>
            <th>Amount paid</th>
            <th>Balance due</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody id="debtorsTbody">
          <% @debtors.each do |debtor| %>
            <tr id="tr_<%= debtor.debtor_id %>">
              <td><%= debtor.name %></td>
              <td><%= number_to_currency(debtor.amount_owed, :unit => "MWK ") %></td>
              <td><%= number_to_currency(debtor.amount_paid, :unit => "MWK ") %></td>
              <td><%= number_to_currency(debtor.balance_due, :unit => "MWK ") %></td>
              <td>
                <a href="#" onclick="showvoidDebtorConfirm('<%= debtor.debtor_id%>')" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane in" id="summary">
        <table class="table table-bordered" style="width: 50%;">

          <tbody>
          <tr>
            <td>Complementary</td>
            <td>
              <span id="complementaryTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency(@stock_stats_by_date["complementary_total"], :unit => "MWK ") %></span>
            </td>
          </tr>

          <tr>
            <td>Damages</td>
            <td>
              <span id="damagesTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency(@stock_stats_by_date["damages_total"], :unit => "MWK ") %></span>
            </td>
          </tr>

          <tr>
            <td>Total sales</td>
            <td>
              <span id="salesTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency(@stock_stats_by_date["total_sales"], :unit => "MWK ") %></span>
            </td>
          </tr>

          <tr>
            <td>Debtors</td>
            <td>
              <span id="debtorsTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency(@total_debts, :unit => "MWK ") %></span>
            </td>
          </tr>


          <tr>
            <td>Expected Cash</td>
            <td>
              <span id="cashTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency((@stock_stats_by_date["total_sales"] - @total_debts), :unit => "MWK ") %></span>
            </td>
          </tr>

          <tr>
            <td>Actual Cash</td>
            <td>
              <span id="actualCashTotal" class="pull-right" style="font-weight: bold;"><%= number_to_currency(@actual_cash, :unit => "MWK ") %></span>
            </td>
          </tr>

          <tr>
            <td>Shortages</td>
            <td>
              <span id="shortage" class="pull-right" style="font-weight: bold;"><%= number_to_currency((@stock_stats_by_date["total_sales"] - @total_debts) - @actual_cash.to_i, :unit => "MWK ") %></span>
            </td>
          </tr>

          </tbody>
        </table>

        <button id="cashierClosure" style="width: 250px; display: none;" onclick="showCashierClosurePopup();" class="btn btn-warning" href="#">
          <i class="fa fa-lock"> Cashier closure</i></button>
        <span style="padding-left: 50px">&nbsp;</span>

        <button id="actualCashCollectedButton" style="width: 250px; display: none;" onclick="showActualCashPopup();" class="btn btn-primary" href="#">
          <i class="fa fa-money"> Update actual cash collected</i></button>
        <span style="padding-left: 50px">&nbsp;</span>

      </div>

      <br/><br/><br/>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add stock</h4>
      </div>
      <div class="modal-body">
        <div id="productDetails">

        </div>
        <br/>
        <div id="updateStockError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
        <form action="/add_products" role="form" class="form-horizontal" id="add-stock-form">
          <div class="form-group">
            <label class="control-label col-lg-5" for="quantity"><strong>Amount added</strong></label>
            <div class="col-lg-7">
              <input type="text" name="stock[quantity]" class="form-control" placeholder="Quantity" id="stockQuantity" required/>
            </div>
          </div>
          <input type="hidden" name="stock[product_id]" id="product_id"/>
          <input type="hidden" name="stock[stock_date]" id="stock_date"/>
        </form>

        <div id="productAdditions">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="updateStockButton" onclick="updateStock();" type="button" class="btn btn-primary">Update stock
        </button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="closeStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Close stock</h4>
      </div>
      <div class="modal-body">
        <div id="productDetailsClose">

        </div>
        <div id="closeStockError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
        <form action="#" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-lg-5" for="quantity"><strong>Closing amount</strong></label>
            <div class="col-lg-7">
              <input type="text" name="stock[closing_amount]" class="form-control" placeholder="Quantity" id="closingAmount" required/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="closingAmountButton" onclick="closeStock();" type="button" class="btn btn-primary">Close stock
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="damageStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Damaged stock</h4>
      </div>
      <div class="modal-body">
        <div id="productDetailsDamage">

        </div>
        <div id="damageStockError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
        <form action="#" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-lg-5" for="quantity"><strong>Damaged amount</strong></label>
            <div class="col-lg-7">
              <input type="text" name="stock[damaged_amount]" class="form-control" placeholder="Quantity" id="damagedAmount" required/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="damagedAmountButton" onclick="updateDamagedStock();" type="button" class="btn btn-primary">Close
          stock
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="complementaryStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Complementary stock</h4>
      </div>
      <div class="modal-body">
        <div id="productDetailsComplementary">

        </div>
        <div id="complementaryStockError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
        <form action="#" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-lg-5" for="quantity"><strong>Complementary amount</strong></label>
            <div class="col-lg-7">
              <input type="text" name="stock[complementary_amount]" class="form-control" placeholder="Quantity" id="complementaryAmount" required/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="complementaryAmountButton" onclick="updateComplementaryStock();" type="button" class="btn btn-primary">Update
          stock
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="closeShotsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Close stock</h4>
      </div>
      <div class="modal-body">
        <div id="productDetailsShotsClose">

        </div>
        <div id="closehotsError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
        <form action="#" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-lg-5" for="closingShots"><strong>Total shots sold</strong></label>
            <div class="col-lg-7">
              <input type="text" name="stock[closing_shots]" class="form-control" placeholder="Shots" id="closingShots" required/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button onclick="closeShots();" type="button" class="btn btn-primary">Close stock</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="cashierClosureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cashier closure modal</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">Confirm cashier username and password</p>
        <form action="#" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-lg-5" for="username"><strong>Username</strong></label>
            <div class="col-lg-7">
              <input type="text" name="username" class="form-control" placeholder="username" id="username" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-lg-5" for="password"><strong>Password</strong></label>
            <div class="col-lg-7">
              <input type="password" name="password" class="form-control" placeholder="password" id="password" required/>
            </div>
          </div>
        </form>

        <p id="wrong" style="color: red; text-align: center; display: none">Wrong username or password</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button onclick="authenticate();" type="button" class="btn btn-primary">Authenticate</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="noItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cashier closure</h4>
      </div>
      <div class="modal-body">
        <p>Please input closing figures to continue</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="incompleteItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cashier closure</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">You have not selected all items. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button onclick="showCashierClosurePopupMain();" type="button" class="btn btn-primary">Yes am sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="missingActualCashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Incomplete task</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">Input actual cash (<b>Total amount of cash collected from the cashier</b>) to
          continue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="productAdditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Product additions</h4>
      </div>
      <div class="modal-body">
        <p id="product-additions-data-header"></p><br/>
        <p style="text-align: center;" id="product-additions-data"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="actualAmountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Actual amount modal</h4>
      </div>
      <div class="modal-body">
        <form action="#" role="form" class="form-horizontal">
          <div id="actualAmountError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
          <div class="form-group">
            <label class="control-label col-lg-5" for="username"><strong>ACtual amount collected</strong></label>
            <div class="col-lg-7">
              <input type="text" name="actual_amount" class="form-control" placeholder="Actual amount collected" id="actualAmount" required/>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="updateActualAmountButton" onclick="updateActualAmount();" type="button" class="btn btn-primary">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!-- Modal -->
<div class="modal fade" id="voidDebtorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Void debtors</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">You are about to delete a record. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button onclick="voidDebtor();" type="button" class="btn btn-primary">Yes am sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    var selectedProductID;
    var stock_date = "<%= params[:stock_date] %>";
    var total_products = parseInt("<%= @products.length %>");
    var closedProducts = {};
    var user;
    var product_data = {};
    <% @products.each do |product| %>
    product_data["<%= product.product_id %>"] = {};
    product_data["<%= product.product_id %>"]["price"] = "<%= product.price(params[:stock_date]) %>";
    product_data["<%= product.product_id %>"]["opening"] = "<%= product.opening_stock_by_date(params[:stock_date], @last_stock_id) %>";
    <% end %>

    var standard_product_ids = JSON.parse("<%= @standard_products.collect{|p|p.product_id} %>");
    var non_standard_product_ids = JSON.parse("<%= @non_standard_products.collect{|p|p.product_id} %>");


    function updateStockPopup(productID) {
        selectedProductID = productID;
        getProductDetails(productID);
        jQuery('#stockQuantity').val("");
        jQuery('#addStockModal').modal('show');
        jQuery('#addStockModal').on('shown.bs.modal', function () {
            jQuery('#stockQuantity').focus();
        });
    }


    function showCashierClosurePopup() {
        if (Object.keys(closedProducts).length == 0) {
            jQuery('#noItemsModal').modal('show');
            return
        }

        if (!actualCash) {
            jQuery('#missingActualCashModal').modal('show');
            return
        }

        if (Object.keys(closedProducts).length < total_products) {
            jQuery('#incompleteItemsModal').modal('show');
            return
        }

        jQuery('#cashierClosureModal').modal('show');
    }

    function showCashierClosurePopupMain() {
        jQuery('#incompleteItemsModal').modal('hide');
        jQuery('#cashierClosureModal').modal('show');
    }

    function newStockCard() {
        closedProducts = {};
        var closeStockTds = jQuery(".close-stock");
        var closeShotsTds = jQuery(".close-shots");
        var addStockTds = jQuery(".add-stock");
        var damageStockTds = jQuery(".damage-stock");
        var complementaryStockTds = jQuery(".complementary-stock");

        for (var i = 0; i <= closeStockTds.length - 1; i++) {
            var product_id = closeStockTds[i].getAttribute("product_id");
            var html = '<button style="color: red;" type="button" class="btn btn-default btn-circle stat close_stock_"' + product_id + '>';
            html += '<span id="close_stock_' + product_id + '">?</span>';
            html += '</button>';
            html += '<button onclick="closeStockPopup(' + product_id + ')" class="btn btn-default pull-right" href="#">Update</button>';
            closeStockTds[i].innerHTML = html;
        }

        for (var i = 0; i <= closeShotsTds.length - 1; i++) {
            var product_id = closeShotsTds[i].getAttribute("product_id");
            var html = '<button style="color: red;" type="button" class="btn btn-default btn-circle stat shots_sold_stock_"' + product_id + '>';
            html += '<span id="shots_sold_stock_' + product_id + '">?</span>';
            html += '</button>';
            html += '<button onclick="shotsSoldPopup(' + product_id + ')" class="btn btn-default pull-right" href="#">Update</button>';
            closeShotsTds[i].innerHTML = html;
        }

        for (var i = 0; i <= damageStockTds.length - 1; i++) {
            var product_id = damageStockTds[i].getAttribute("product_id");
            var html = '<button style="color: red;" type="button" class="btn btn-default btn-circle stat damage_stock_"' + product_id + '>';
            html += '<span id="damage_stock_' + product_id + '">?</span>';
            html += '</button>';
            html += '<button onclick="damageStockPopup(' + product_id + ')" class="btn btn-default pull-right" href="#">Update</button>';
            damageStockTds[i].innerHTML = html;
        }

        for (var i = 0; i <= complementaryStockTds.length - 1; i++) {
            var product_id = complementaryStockTds[i].getAttribute("product_id");
            var html = '<button style="color: red;" type="button" class="btn btn-default btn-circle stat complementary_stock_"' + product_id + '>';
            html += '<span id="complementary_stock_' + product_id + '">?</span>';
            html += '</button>';
            html += '<button onclick="complementaryStockPopup(' + product_id + ')" class="btn btn-default pull-right" href="#">Update</button>';
            complementaryStockTds[i].innerHTML = html;
        }

        for (var i = 0; i <= addStockTds.length - 1; i++) {
            var product_id = addStockTds[i].getAttribute("product_id");
            var html = '<button onclick="updateStockPopup(' + product_id + ')" class="btn btn-default" href="#">Update</button>';
            //addStockTds[i].innerHTML = html;
        }

        var stockDifferenceTds = jQuery(".stock-difference");
        for (var i = 0; i <= stockDifferenceTds.length - 1; i++) {
            stockDifferenceTds[i].innerHTML = " - "
        }

        //total-sales
        var totalSaleTds = jQuery(".total-sales");
        for (var i = 0; i <= totalSaleTds.length - 1; i++) {
            totalSaleTds[i].innerHTML = " - "
        }

        //grand-total
        jQuery(".grand-total").html("");
    }

    var last_stock_id = "<%= @last_stock_id %>";

    function editStockCard() {
        window.location = "/edit_stock_card?stock_id=" + last_stock_id + "&stock_date=" + stock_date;
    }

    function getProductDetails(productID) {
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var productAdditions = result["product_additions"];


                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                var table = "<table class='table table-bordered table-striped'><thead><tr><th>Date </th><th>Quantity </th><th>&nbsp; </th></tr></thead>";
                table += "<body>";
                for (var i = 0; i <= productAdditions.length - 1; i++) {
                    table += "<tr>";
                    table += "<td>" + productAdditions[i]["date_added"] + "</td>";
                    table += "<td>" + productAdditions[i]["added_stock"] + "</td>";
                    table += "<td style='text-align: center;'><a href='#' role='button'><i class='fa fa-trash-o'></i></a></td>";
                    table += "</tr>";
                }
                table += "</body>";
                table += "</table>";
                jQuery("#productDetails").html(html);
                if (productAdditions.length > 0) {
                    jQuery("#productAdditions").html(table);
                } else {
                    jQuery("#productAdditions").html("<p>No items added on this date</p>");
                }

            }

        });
    }

    function getProductAdditions(productID) {
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                jQuery("#product-additions-data").html("Please wait ...");
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var productAdditions = result["product_additions"];


                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                var table = "<table class='table table-bordered table-striped'><thead><tr><th>Date </th><th>Quantity </th></tr></thead>";
                table += "<body>";
                for (var i = 0; i <= productAdditions.length - 1; i++) {
                    table += "<tr>";
                    table += "<td>" + productAdditions[i]["date_added"] + "</td>";
                    table += "<td>" + productAdditions[i]["added_stock"] + "</td>";
                    table += "</tr>";
                }
                table += "</body>";
                table += "</table>";
                jQuery("#product-additions-data-header").html(html);
                if (productAdditions.length > 0) {
                    jQuery("#product-additions-data").html(table);
                } else {
                    jQuery("#product-additions-data").html("<p>No items added on this date</p>");
                }

            }
        });
        jQuery('#productAdditionModal').modal('show');
    }

    function shotsSoldPopup(productID) {
        selectedProductID = productID;
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                jQuery("#productDetailsShotsClose").html(html);
            }

        });

        jQuery('#closeShotsModal').modal('show');
    }

    function closeStockPopup(productID) {
        selectedProductID = productID;
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                jQuery("#productDetailsClose").html(html);
            }

        });

        jQuery('#closingAmount').val('');
        jQuery('#closeStockModal').modal('show');
        jQuery('#closeStockModal').on('shown.bs.modal', function () {
            jQuery('#closingAmount').focus();
        });
    }

    function damageStockPopup(productID) {
        selectedProductID = productID;
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                jQuery("#productDetailsDamage").html(html);
            }

        });
        //damagedAmount
        jQuery('#damagedAmount').val('');
        jQuery('#damageStockModal').modal('show');
        jQuery('#damageStockModal').on('shown.bs.modal', function () {
            jQuery('#damagedAmount').focus();
        });
    }

    function complementaryStockPopup(productID) {
        selectedProductID = productID;
        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "GET",
            url: "/get_product_details",
            data: "product_id=" + productID + "&date=" + stock_date,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                var productName = result["product_details"]["product_name"];
                var minimumRequired = result["product_details"]["minimum_required"];
                var openingStock = result["product_details"]["opening_stock"];
                var dateOfStock = result["product_details"]["date_of_stock"];

                var html = "<div>";
                html += "<p><strong>Product Name: <i>" + productName + "</i></strong></p>";
                html += "<p><strong>Opening stock: <i>" + openingStock + "</i></strong></p>";
                html += "<p><strong>Minimum required: <i>" + minimumRequired + "</i></strong></p>";
                html += "<p><strong>Date of stock:  <i>" + dateOfStock + "</i></strong></p>";

                html += "</div>";

                jQuery("#productDetailsComplementary").html(html);
            }

        });

        jQuery('#complementaryAmount').val('');
        jQuery('#complementaryStockModal').modal('show');
        jQuery('#complementaryStockModal').on('shown.bs.modal', function () {
            jQuery('#complementaryAmount').focus();
        });
    }

    var actualCash;

    function updateActualAmount() {
        var actualAmount = document.getElementById("actualAmount").value.trim();
        if (actualAmount.length == 0) {
            jQuery("#actualAmountError").html("Please input a number");
            return false
        }

        if (!isNumeric(actualAmount)) {
            jQuery("#actualAmountError").html("Please input a valid number");
            return false
        }

        if (parseInt(actualAmount) > expectedCash) {
            jQuery("#actualAmountError").html("Actual amount exceeds expected amount");
            return false
        }

        if (parseInt(actualAmount) < 0) {
            jQuery("#actualAmountError").html("Negative numbers are not allowed");
            return false
        }

        actualCash = actualAmount;
        var actualAmountFormatted = formatMoney(actualAmount);
        var shortages = expectedCash - actualAmount;
        var shortagesFormatted = formatMoney(shortages);

        jQuery("#actualCashTotal").html("MWK " + actualAmountFormatted);
        jQuery("#shortage").html("MWK " + shortagesFormatted);
        jQuery('#actualAmountModal').modal('hide');

    }

    function showActualCashPopup() {
        jQuery('#actualAmount').val('');
        jQuery('#actualAmountModal').modal('show');
        jQuery('#actualAmountModal').on('shown.bs.modal', function () {
            jQuery('#actualAmount').focus();
        });
    }

    function authenticate() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        jQuery.ajax({
            type: "POST",
            url: "/authenticate",
            data: "username=" + username + "&password=" + password,
            beforeSend: function () {
                jQuery("#wrong").hide();
            },
            success: function (result) {
                if (result) {
                    user = result;
                    createFormElements();
                } else {
                    jQuery("#wrong").show();
                }
            }

        });
    }

    function createFormElements() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/create_stock";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = stock_date;
        input.name = "stock_date";
        form.appendChild(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = user.user_id;
        input.name = "user_id";
        form.appendChild(input); //actualCash

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = actualCash;
        input.name = "actual_cash";
        form.appendChild(input);

        for (var productID in closedProducts) {
            var closedStock = closedProducts[productID]["stock"];
            if (!closedStock) {
                closedStock = "";
            }

            var closedShots = closedProducts[productID]["shots"];
            if (!closedShots) {
                closedShots = "";
            }

            var damagedStock = closedProducts[productID]["damage"];
            if (!damagedStock) {
                damagedStock = "";
            }

            var complementaryStock = closedProducts[productID]["complementary"];
            if (!complementaryStock) {
                complementaryStock = "";
            }

            var input = document.createElement("input");
            input.type = "hidden";
            input.value = closedStock;
            input.name = "products[" + productID + "][stock]";
            form.appendChild(input);

            var input = document.createElement("input");
            input.type = "hidden";
            input.value = closedShots;
            input.name = "products[" + productID + "][shots]";
            form.appendChild(input);

            var input = document.createElement("input");
            input.type = "hidden";
            input.value = damagedStock;
            input.name = "products[" + productID + "][damage]";
            form.appendChild(input);

            var input = document.createElement("input");
            input.type = "hidden";
            input.value = complementaryStock;
            input.name = "products[" + productID + "][complementary]";
            form.appendChild(input);
        }

        form.submit();
    }

    function updateStock() {
        var addedStockQuantity = document.getElementById("stockQuantity").value.trim();
        if (addedStockQuantity.length == 0) {
            jQuery("#updateStockError").html("Please input a number");
            return false
        }

        if (!isNumeric(addedStockQuantity)) {
            jQuery("#updateStockError").html("Please input a valid number");
            return false
        }

        jQuery.ajax({
            type: "POST",
            url: "/modify_stock",
            data: "product_id=" + selectedProductID + "&stock_date=" + stock_date + "&quantity=" + addedStockQuantity,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {
                var current_stock = result["current_stock"];
                jQuery("#current-stock-" + selectedProductID).html(current_stock);
                jQuery('#addStockModal').modal('hide');
            }

        });
    }

    function closeStock(productID) {

        var closingAmount = document.getElementById("closingAmount").value.trim();
        var closeAmountTag = document.getElementById("close_stock_" + selectedProductID);
        closeAmountTag.innerHTML = closingAmount;
        if (!closedProducts[selectedProductID]) {
            closedProducts[selectedProductID] = {};
        }
        closedProducts[selectedProductID]["stock"] = closingAmount;
        if (valueInArray(selectedProductID, non_standard_product_ids)) {
            closedProducts[selectedProductID]["product_type"] = "non_standard";
        } else {
            var closingAmount = document.getElementById("closingAmount").value.trim();
            if (closingAmount.length == 0) {
                jQuery("#closeStockError").html("Please input a number");
                return false
            }

            if (!isNumeric(closingAmount)) {
                jQuery("#closeStockError").html("Please input a valid number");
                return false
            }
            closedProducts[selectedProductID]["product_type"] = "standard";
        }
        //jQuery(".close_stock_" + selectedProductID).show();
        jQuery('#closeStockModal').modal('hide');
        updateDifferenceAndTotalSales();
        //window.location = "/close_stock?product_id=" + productID + "&stock_date=" + stock_date
    }

    function valueInArray(val, options) {
        for (var i = 0; i < options.length; i++) {
            if (parseInt(val) == parseInt(options[i])) return true;
        }
        return false;
    }

    function updateDamagedStock() {
        var damagedAmount = document.getElementById("damagedAmount").value.trim();
        if (damagedAmount.length == 0) {
            jQuery("#damageStockError").html("Please input a number");
            return false
        }

        if (!isNumeric(damagedAmount)) {
            jQuery("#damageStockError").html("Please input a valid number");
            return false
        }

        var damagedAmountTag = document.getElementById("damage_stock_" + selectedProductID);
        damagedAmountTag.innerHTML = damagedAmount;
        if (!closedProducts[selectedProductID]) {
            closedProducts[selectedProductID] = {};
        }
        closedProducts[selectedProductID]["damage"] = damagedAmount;
        jQuery('#damageStockModal').modal('hide');
        updateDifferenceAndTotalSales();
    }

    function updateComplementaryStock() {
        var complementaryAmount = document.getElementById("complementaryAmount").value.trim();
        if (complementaryAmount.length == 0) {
            jQuery("#complementaryStockError").html("Please input a number");
            return false
        }

        if (!isNumeric(complementaryAmount)) {
            jQuery("#complementaryStockError").html("Please input a valid number");
            return false
        }

        var complementaryAmountTag = document.getElementById("complementary_stock_" + selectedProductID);
        complementaryAmountTag.innerHTML = complementaryAmount;
        if (!closedProducts[selectedProductID]) {
            closedProducts[selectedProductID] = {};
        }
        closedProducts[selectedProductID]["complementary"] = complementaryAmount;
        jQuery('#complementaryStockModal').modal('hide');
        updateDifferenceAndTotalSales();
    }

    function closeShots() {
        var closingShots = document.getElementById("closingShots").value;
        var closeAmountTag = document.getElementById("shots_sold_stock_" + selectedProductID);
        closeAmountTag.innerHTML = closingShots;
        if (!closedProducts[selectedProductID]) {
            closedProducts[selectedProductID] = {};
        }
        closedProducts[selectedProductID]["shots"] = closingShots;
        jQuery('#closeShotsModal').modal('hide');
    }

    function addStock(productID) {
        var stock_date = document.getElementById("date").value;
        window.location = "/add_stock?product_id=" + productID + "&stock_date=" + stock_date
    }

    function gotoStockcardDate() {
        var date = document.getElementById("date").value;
        window.location = "/stock_card?stock_date=" + date;
    }

    var expectedCash;

    function updateSummary() {
        if (Object.keys(closedProducts).length > 0) {
            jQuery("#cashierClosure").show();
            jQuery("#actualCashCollectedButton").show();

            var stock_date = document.getElementById("date").value;
            jQuery.ajax({
                type: "GET",
                url: "/get_product_data",
                data: "stock_date=" + stock_date + "&last_stock_id=" + last_stock_id,
                beforeSend: function () {
                    //jQuery("#incomingStocks").show();
                },
                success: function (result) {
                    var total_sales = 0;
                    var complementary_total = 0;
                    var damages_total = 0;
                    var debtors_total = 0;

                    for (var productID in result) {
                        if (closedProducts[productID]) {
                            var current_price = result[productID]["current_price"];
                            var current_stock = result[productID]["current_stock"];
                            var complementary_stock = closedProducts[productID]["complementary"];
                            var product_type = closedProducts[productID]["product_type"];

                            debtors_total = result[productID]["debts"];

                            var closing_stock = closedProducts[productID]["stock"];
                            if (isNumeric(closing_stock)) {
                                closing_stock = parseInt(closing_stock)
                            } else {
                                closing_stock = 0
                            }

                            var closedShots = closedProducts[productID]["shots"];
                            if (isNumeric(closedShots)) {
                                closedShots = parseInt(closedShots)
                            } else {
                                closedShots = 0
                            }

                            var damaged_stock = closedProducts[productID]["damage"];
                            if (isNumeric(damaged_stock)) {
                                damaged_stock = parseInt(damaged_stock)
                            } else {
                                damaged_stock = 0
                            }

                            var complementary_stock = closedProducts[productID]["complementary"];
                            if (isNumeric(complementary_stock)) {
                                complementary_stock = parseInt(complementary_stock)
                            } else {
                                complementary_stock = 0
                            }

                            if (product_type == "non_standard") {
                                total_sales += current_price * closing_stock;
                            } else {
                                var difference = current_stock - closing_stock;
                                total_sales += current_price * (difference - damaged_stock - complementary_stock);
                            }
                            console.log(complementary_stock)
                            console.log("current_stock = " + current_stock + " current_price = " + current_price + " damaged_stock = " + damaged_stock + " difference = " + difference)
                            complementary_total += current_price * complementary_stock;
                            damages_total += current_price * damaged_stock;
                        }
                    }

                    var cash_at_hand = total_sales - debtors_total;
                    expectedCash = cash_at_hand;

                    jQuery("#complementaryTotal").html("MWK " + formatMoney(complementary_total));
                    jQuery("#damagesTotal").html("MWK " + formatMoney(damages_total));
                    jQuery("#salesTotal").html("MWK " + formatMoney(total_sales));
                    jQuery("#debtorsTotal").html("MWK " + formatMoney(debtors_total));
                    jQuery("#cashTotal").html("MWK " + formatMoney(cash_at_hand));

                }

            });
        }
    }

    var product_sales = {};

    function updateDifferenceAndTotalSales() {
        if (selectedProductID) {
            var closing_stock = jQuery("#close_stock_" + selectedProductID).html();
            if (!isNumeric(closing_stock)) {
                closing_stock = 0
            }

            var damaged_stock = jQuery("#damage_stock_" + selectedProductID).html();
            if (!isNumeric(damaged_stock)) {
                damaged_stock = 0
            }

            var complementary_stock = jQuery("#complementary_stock_" + selectedProductID).html();
            if (!isNumeric(complementary_stock)) {
                complementary_stock = 0
            }

            var stock_date = document.getElementById("date").value;
            jQuery.ajax({
                type: "GET",
                url: "/get_product_stock_data",
                data: "product_id=" + selectedProductID + "&stock_date=" + stock_date,
                beforeSend: function () {
                    //jQuery("#incomingStocks").show();
                },
                success: function (result) {
                    var current_price = result["current_price"];
                    var current_stock = result["current_stock"];

                    if (valueInArray(selectedProductID, non_standard_product_ids)) {
                        var product_type = "non_standard";
                    } else {
                        var product_type = "standard";
                    }

                    if (product_type == "non_standard") {
                        var total_sales = current_price * closing_stock;
                    } else {
                        var difference = current_stock - closing_stock;
                        var total_sales = current_price * (difference - damaged_stock - complementary_stock);
                        jQuery("#stock-difference-" + selectedProductID).html(difference);
                    }

                    var grand_total_sales = 0;
                    product_sales[selectedProductID] = total_sales;
                    for (var productID in product_sales) {
                        grand_total_sales += product_sales[productID]
                    }

                    var formatted_total_sales = formatMoney(total_sales);
                    jQuery("#total-sales-" + selectedProductID).html("MWK " + formatted_total_sales);
                    jQuery(".grand-total").html("MWK " + formatMoney(grand_total_sales))
                }

            });

        }
    }

    function isNumeric(num) {
        return !isNaN(num)
    }

    function createDebtor() {
        var name = document.getElementById("debtorName").value;
        var amount = document.getElementById("debtorAmount").value;
        var description = document.getElementById("description").value;

        if (name.length == 0 || amount.length == 0) {
            $('#debtorSubmit').click();
            return
        }

        var stock_date = document.getElementById("date").value;
        jQuery.ajax({
            type: "POST",
            url: "/create_debtors",
            data: "name=" + name + "&date=" + stock_date + "&amount=" + amount + "&description=" + description,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {

                jQuery("#debtorName").val("");
                jQuery("#debtorAmount").val("");
                jQuery("#description").val("");
                if (result["status"] == "success") {
                    var data = JSON.parse(result["data"]);
                    var debtor_id = data["debtor_id"];
                    var amount_owed = formatMoney(data["amount_owed"]);
                    var amount_paid = formatMoney(data["amount_paid"]);
                    var balance_due = formatMoney(data["balance_due"]);

                    var html = "<tr id='tr_" + debtor_id + "'>";
                    html += "<td>" + data["name"] + "</td>";
                    html += "<td> MWK " + amount_owed + "</td>";
                    html += "<td> MWK " + amount_paid + "</td>";
                    html += "<td> MWK " + balance_due + "</td>";
                    html += '<td><a href="#" onclick="showvoidDebtorConfirm(' + debtor_id + ')" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a></td>';
                    html += "</tr>";
                    jQuery("#debtorsTbody").append(html);
                    var target = jQuery('html,body');
                    target.animate({scrollTop: target.height()}, 1000);
                }
            }

        });
    }

    var selectedDebtorID;

    function showvoidDebtorConfirm(debtorID) {
        selectedDebtorID = debtorID;
        jQuery('#voidDebtorModal').modal('show');
    }

    function voidDebtor() {
        jQuery.ajax({
            type: "POST",
            url: "/void_debtors",
            data: "debtor_id=" + selectedDebtorID,
            beforeSend: function () {
                //jQuery("#incomingStocks").show();
            },
            success: function (result) {
                jQuery("#tr_" + selectedDebtorID).remove();
                jQuery('#voidDebtorModal').modal('hide');
            }

        });
    }

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    window.onload = function () {
        $(".datepicker").datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy',
            startDate: '-3d',
            todayHighLight: true
        });

        jQuery('#quantity').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#updateStockButton').click();
                return false;
            }
        });

        jQuery('#closingAmount').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#closingAmountButton').click();
                return false;
            }
        });

        //damagedAmountButton
        jQuery('#damagedAmount').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#damagedAmountButton').click();
                return false;
            }
        });

        jQuery('#complementaryAmount').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#complementaryAmountButton').click();
                return false;
            }
        });

        jQuery('#actualAmount').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#updateActualAmountButton').click();
                return false;
            }
        });

        jQuery('#add-stock-form').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#updateStockButton').click();
                return false;
            }
        });

        $('#debtorsForm').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

    };
</script>

<style type="text/css">
  .modal-content {
    height: 100% !important;
    position: relative;
  }

  .modal-footer {
    bottom: 0px !important;
    position: relative;
    width: 100%;
  }

  .btn-circle {
    padding: 10px 16px;
    border-radius: 25px;
    line-height: 1.33;
    min-width: 80px;

  }
</style>