
<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Category</th>
    <th>Price</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Date created</th>
  </tr>
  </thead>
  <tbody>
  <% @price_histories.each do |price_history| %>
  <% next if price_history.product.blank? %>
    <tr>
      <td><%= price_history.product.name %></td>
      <td><%= price_history.product.category_name %></td>
      <td><%= number_to_currency(price_history.price, :unit => "MWK ") %></td>
      <td><%= price_history.start_date.to_date.strftime("%d-%b-%Y") rescue price_history.start_date %></td>
      <td><%= price_history.end_date.to_date.strftime("%d-%b-%Y") rescue price_history.end_date  %></td>
      <td><%= price_history.created_at.to_date.strftime("%d-%b-%Y") rescue price_history.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<script type="text/javascript">
    jQuery('.pricing-menu-nav-header').removeClass('collapsed');
    jQuery('.pricing-menu').addClass('in');
    jQuery('.view_prices').addClass('active');
</script>