<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= bar_name %></title>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" type="text/css" href="/AircraftAdmin-Free/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/AircraftAdmin-Free/lib/font-awesome/css/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="/AircraftAdmin-Free/stylesheets/premium.css">

</head>
<body class=" theme-blue">


<div class="content" style="margin-left: 30px; width: 96%;">

  <div class="main-content" style="padding-top: 10px;">

    <div class="pull-left well">
      <table>
        <tbody>
        <tr>
          <td class="pull-right padding-right"><strong>Company Name: &nbsp;</strong></td>
          <td><%= bar_name %></td>
        </tr>
        <tr>
          <td class="pull-right padding-right"><strong>Report Type: &nbsp; </strong></td>
          <td>Outgoing stock report</td>
        </tr>
        <tr>
          <td class="pull-right padding-right"><strong>Product: &nbsp;</strong></td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td class="pull-right padding-right"><strong>Period: &nbsp;</strong></td>
          <td><%= params[:start_date] + " - " + params[:end_date] %></td>
        </tr>
        <tr>
          <td class="pull-right padding-right"><strong>Date reported generated: &nbsp;</strong></td>
          <td><%= Date.today.strftime("%d-%b-%Y") %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Date out</th>
        <th>Quantity</th>
        <th>Reason</th>
      </tr>
      </thead>
      <tbody>
      <% @data.each do |data| %>
        <tr>
          <td><%= data.date_out %></td>
          <td><%= data.quantity %></td>
          <td><%= data.reason %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

</body>
</html>